body{
    background-color: #44BBA4;
    color: #393E41;
}
.card {
    margin-bottom: 25px;
    border-color: #3F88C5;
    background-color: #F6F7EB;
}

.card-header {
    background-color: #3F88C5;
}

.divider {
    border-color: #0d6efd;
    background-color: #0d6efd;
    text-align: center;
}

h1 {
    padding-top: 25px;
    padding-bottom: 25px;
}
.text-success{
    color: #E94F37!important;
}
